<div class="section--sale">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="image-box large">
          <div class="image" style="background-image: url(images/sale-image1.jpg)">
            <div class="layer">
              <div class="layer-content">
                <h2>Guest room</h2>
                <h1>Sofa</h1>
                <div class="discount">-20%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="image-box small-top">
          <div
            class="image"
            style="background-image: url(https://images.pexels.com/photos/242236/pexels-photo-242236.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)"
          >
            <div class="image-description">
              <h3>Office <span>chair</span></h3>
              <h6>Collection</h6>
              <p class="price">$200.00</p>
            </div>
          </div>
        </div>
        <div class="image-box small-bottom">
          <div
            class="image"
            style="background-image: url(https://images.pexels.com/photos/242236/pexels-photo-242236.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)"
          >
            <div class="image-description">
              <h5>Special <span>collection</span></h5>
              <h6>save up <span>45</span>% of furniture</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
