<div class="section--gallery">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="panel-bar">
          <div class="row no-gutters align-items-end">
            <div class="col-auto heading"><h3>Furniture gallery</h3></div>
            <div class="col"></div>
          </div>
        </div>
        <div class="gallery-box">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a
                class="nav-item nav-link"
                id="nav-feature-tab"
                data-toggle="tab"
                href="#nav-feature"
                role="tab"
                aria-controls="nav-feature"
                aria-selected="false"
                >Feature</a
              >
              <a
                class="nav-item nav-link active"
                id="nav-top-seller-tab"
                data-toggle="tab"
                href="#nav-top-seller"
                role="tab"
                aria-controls="nav-top-seller"
                aria-selected="true"
                >Top seller</a
              >
              <a
                class="nav-item nav-link"
                id="nav-sale-off-tab"
                data-toggle="tab"
                href="#nav-sale-off"
                role="tab"
                aria-controls="nav-sale-off"
                aria-selected="false"
                >Sale off</a
              >
              <a
                class="nav-item nav-link"
                id="nav-top-rated-tab"
                data-toggle="tab"
                href="#nav-top-rated"
                role="tab"
                aria-controls="nav-top-rated"
                aria-selected="false"
                >Top rated</a
              >
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div
              class="tab-pane gallery-tab-pane fade"
              id="nav-feature"
              role="tabpanel"
              aria-labelledby="nav-feature-tab"
            >
              <div class="outlines">
                <a
                  href="#"
                  class="btn-outline"
                  data-toggle="tooltip"
                  data-placement="right"
                  title="Add To Wishlist"
                  ><i class="far fa-heart"></i
                ></a>
                <a
                  href="#"
                  class="btn-outline"
                  data-toggle="tooltip"
                  data-placement="right"
                  title="Add To Compare"
                  ><i class="fas fa-exchange-alt"></i
                ></a>
                <a
                  href="#"
                  class="btn-outline"
                  data-toggle="tooltip"
                  data-placement="right"
                  title="Quick View"
                  ><i class="far fa-eye"></i
                ></a>
                <a
                  href="#"
                  class="btn-outline"
                  data-toggle="tooltip"
                  data-placement="right"
                  title="Add To Cart"
                  ><i class="fa fa-shopping-basket"></i
                ></a>
              </div>
              <div
                class="image"
                style="background-image: url(images/gallery/chair-1.png);"
              ></div>
              <div class="content-wrapper">
                <div class="content">
                  <h5 class="product-title">Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
                <div class="price">
                  <p>$120.00</p>
                  <p class="old-price"><s>$160.00</s></p>
                </div>
              </div>
              <div class="gallery-slider-wrapper">
                <div class="gallery-slider">
                  <div>
                    <div
                      class="slider-image"
                      style="background-image: url(images/gallery/chair-1.png);"
                    ></div>
                  </div>
                  <div>
                    <div
                      class="slider-image"
                      style="background-image: url(images/gallery/chair-10.png);"
                    ></div>
                  </div>
                  <div>
                    <div
                      class="slider-image"
                      style="background-image: url(images/gallery/chair-12.png);"
                    ></div>
                  </div>
                  <div>
                    <div
                      class="slider-image"
                      style="background-image: url(images/gallery/chair-7.png);"
                    ></div>
                  </div>
                  <div>
                    <div
                      class="slider-image"
                      style="background-image: url(images/gallery/table-1.png);"
                    ></div>
                  </div>
                  <div>
                    <div
                      class="slider-image"
                      style="background-image: url(images/gallery/sofa-1.png);"
                    ></div>
                  </div>
                  <div>
                    <div
                      class="slider-image"
                      style="background-image: url(images/gallery/chair-8.png);"
                    ></div>
                  </div>
                  <div>
                    <div
                      class="slider-image"
                      style="background-image: url(images/gallery/sofa-3.png);"
                    ></div>
                  </div>
                  <div>
                    <div
                      class="slider-image"
                      style="background-image: url(images/gallery/chair-9.png);"
                    ></div>
                  </div>
                </div>
              </div>
              <!--  /slider -->
            </div>
            <!--  /tab-pane -->
            <div
              class="tab-pane gallery-tab-pane fade show active"
              id="nav-top-seller"
              role="tabpanel"
              aria-labelledby="nav-top-seller-tab"
            >
              <div class="outlines">
                <a
                  href="#"
                  class="btn-outline"
                  data-toggle="tooltip"
                  data-placement="right"
                  title="Add To Wishlist"
                  ><i class="far fa-heart"></i
                ></a>
                <a
                  href="#"
                  class="btn-outline"
                  data-toggle="tooltip"
                  data-placement="right"
                  title="Add To Compare"
                  ><i class="fas fa-exchange-alt"></i
                ></a>
                <a
                  href="#"
                  class="btn-outline"
                  data-toggle="tooltip"
                  data-placement="right"
                  title="Quick View"
                  ><i class="far fa-eye"></i
                ></a>
                <a
                  href="#"
                  class="btn-outline"
                  data-toggle="tooltip"
                  data-placement="right"
                  title="Add To Cart"
                  ><i class="fa fa-shopping-basket"></i
                ></a>
              </div>
              <div
                class="image"
                style="background-image: url(images/gallery/chair-2.png);"
              ></div>
              <div class="content-wrapper">
                <div class="content">
                  <h5 class="product-title">Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
                <div class="price">
                  <p>$120.00</p>
                  <p class="old-price"><s>$160.00</s></p>
                </div>
              </div>
              <div class="gallery-slider-wrapper">
                <div class="gallery-slider">
                  <div>
                    <div
                      class="slider-image"
                      style="background-image: url(images/gallery/chair-1.png);"
                    ></div>
                  </div>
                  <div>
                    <div
                      class="slider-image"
                      style="background-image: url(images/gallery/chair-2.png);"
                    ></div>
                  </div>
                  <div>
                    <div
                      class="slider-image"
                      style="background-image: url(images/gallery/chair-3.png);"
                    ></div>
                  </div>
                  <div>
                    <div
                      class="slider-image"
                      style="background-image: url(images/gallery/chair-4.png);"
                    ></div>
                  </div>
                  <div>
                    <div
                      class="slider-image"
                      style="background-image: url(images/gallery/chair-5.png);"
                    ></div>
                  </div>
                  <div>
                    <div
                      class="slider-image"
                      style="background-image: url(images/gallery/chair-6.png);"
                    ></div>
                  </div>
                  <div>
                    <div
                      class="slider-image"
                      style="background-image: url(images/gallery/chair-7.png);"
                    ></div>
                  </div>
                  <div>
                    <div
                      class="slider-image"
                      style="background-image: url(images/gallery/sofa-1.png);"
                    ></div>
                  </div>
                  <div>
                    <div
                      class="slider-image"
                      style="background-image: url(images/gallery/chair-8.png);"
                    ></div>
                  </div>
                </div>
              </div>
              <!--  /slider -->
            </div>
            <!--  /tab-pane -->
            <div
              class="tab-pane gallery-tab-pane fade"
              id="nav-sale-off"
              role="tabpanel"
              aria-labelledby="nav-sale-off-tab"
            >
              <div class="outlines">
                <a
                  href="#"
                  class="btn-outline"
                  data-toggle="tooltip"
                  data-placement="right"
                  title="Add To Wishlist"
                  ><i class="far fa-heart"></i
                ></a>
                <a
                  href="#"
                  class="btn-outline"
                  data-toggle="tooltip"
                  data-placement="right"
                  title="Add To Compare"
                  ><i class="fas fa-exchange-alt"></i
                ></a>
                <a
                  href="#"
                  class="btn-outline"
                  data-toggle="tooltip"
                  data-placement="right"
                  title="Quick View"
                  ><i class="far fa-eye"></i
                ></a>
                <a
                  href="#"
                  class="btn-outline"
                  data-toggle="tooltip"
                  data-placement="right"
                  title="Add To Cart"
                  ><i class="fa fa-shopping-basket"></i
                ></a>
              </div>
              <div
                class="image"
                style="background-image: url(images/gallery/chair-3.png);"
              ></div>
              <div class="content-wrapper">
                <div class="content">
                  <h5 class="product-title">Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
                <div class="price">
                  <p>$120.00</p>
                  <p class="old-price"><s>$160.00</s></p>
                </div>
              </div>
              <div class="gallery-slider-wrapper">
                <div class="gallery-slider">
                  <div>
                    <div
                      class="slider-image"
                      style="background-image: url(images/gallery/bed.png);"
                    ></div>
                  </div>
                  <div>
                    <div
                      class="slider-image"
                      style="background-image: url(images/gallery/chair-4.png);"
                    ></div>
                  </div>
                  <div>
                    <div
                      class="slider-image"
                      style="background-image: url(images/gallery/chair-6.png);"
                    ></div>
                  </div>
                  <div>
                    <div
                      class="slider-image"
                      style="background-image: url(images/gallery/chair-8.png);"
                    ></div>
                  </div>
                  <div>
                    <div
                      class="slider-image"
                      style="background-image: url(images/gallery/sofa-1.png);"
                    ></div>
                  </div>
                  <div>
                    <div
                      class="slider-image"
                      style="background-image: url(images/gallery/sofa-2.png);"
                    ></div>
                  </div>
                  <div>
                    <div
                      class="slider-image"
                      style="background-image: url(images/gallery/sofa-3.png);"
                    ></div>
                  </div>
                  <div>
                    <div
                      class="slider-image"
                      style="background-image: url(images/gallery/sofa-4.png);"
                    ></div>
                  </div>
                  <div>
                    <div
                      class="slider-image"
                      style="background-image: url(images/gallery/chair-3.png);"
                    ></div>
                  </div>
                </div>
              </div>
              <!--  /slider -->
            </div>
            <!--  /tab-pane -->
            <div
              class="tab-pane gallery-tab-pane fade"
              id="nav-top-rated"
              role="tabpanel"
              aria-labelledby="nav-top-rated-tab"
            >
              <div class="outlines">
                <a
                  href="#"
                  class="btn-outline"
                  data-toggle="tooltip"
                  data-placement="right"
                  title="Add To Wishlist"
                  ><i class="far fa-heart"></i
                ></a>
                <a
                  href="#"
                  class="btn-outline"
                  data-toggle="tooltip"
                  data-placement="right"
                  title="Add To Compare"
                  ><i class="fas fa-exchange-alt"></i
                ></a>
                <a
                  href="#"
                  class="btn-outline"
                  data-toggle="tooltip"
                  data-placement="right"
                  title="Quick View"
                  ><i class="far fa-eye"></i
                ></a>
                <a
                  href="#"
                  class="btn-outline"
                  data-toggle="tooltip"
                  data-placement="right"
                  title="Add To Cart"
                  ><i class="fa fa-shopping-basket"></i
                ></a>
              </div>
              <div
                class="image"
                style="background-image: url(images/gallery/chair-4.png);"
              ></div>
              <div class="content-wrapper">
                <div class="content">
                  <h5 class="product-title">Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
                <div class="price">
                  <p>$120.00</p>
                  <p class="old-price"><s>$160.00</s></p>
                </div>
              </div>
              <div class="gallery-slider-wrapper">
                <div class="gallery-slider">
                  <div>
                    <div
                      class="slider-image"
                      style="background-image: url(images/gallery/sofa-1.png);"
                    ></div>
                  </div>
                  <div>
                    <div
                      class="slider-image"
                      style="background-image: url(images/gallery/sofa-2.png);"
                    ></div>
                  </div>
                  <div>
                    <div
                      class="slider-image"
                      style="background-image: url(images/gallery/sofa-3.png);"
                    ></div>
                  </div>
                  <div>
                    <div
                      class="slider-image"
                      style="background-image: url(images/gallery/sofa-4.png);"
                    ></div>
                  </div>
                  <div>
                    <div
                      class="slider-image"
                      style="background-image: url(images/gallery/bed.png);"
                    ></div>
                  </div>
                  <div>
                    <div
                      class="slider-image"
                      style="background-image: url(images/gallery/chair-12.png);"
                    ></div>
                  </div>
                  <div>
                    <div
                      class="slider-image"
                      style="background-image: url(images/gallery/chair-1.png);"
                    ></div>
                  </div>
                  <div>
                    <div
                      class="slider-image"
                      style="background-image: url(images/gallery/sofa-2.png);"
                    ></div>
                  </div>
                  <div>
                    <div
                      class="slider-image"
                      style="background-image: url(images/gallery/chair-5.png);"
                    ></div>
                  </div>
                </div>
              </div>
              <!--  /slider -->
            </div>
            <!--  /tab-pane -->
            <div class="fade-layer"></div>
          </div>
          <!--  /tab-content -->
        </div>
        <!--  /gallery-box -->
      </div>
      <div class="col-lg-6">
        <div class="gallery-image-wrapper">
          <div class="gallery-image-content">
            <p class="price">From <span>$50.80</span></p>
            <h2>Bedroom bed</h2>
            <div class="btn-gallery">Shop now</div>
          </div>
          <div
            class="image"
            style="background-image: url(images/gallery/bed.png);"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
