<div class="section--blog-posts">
  <div class="container">
    <div class="panel-bar">
      <div class="row no-gutters align-items-end">
        <div class="col-auto heading"><h3>Latest blog</h3></div>
        <div class="col"></div>
      </div>
    </div>
    <!-- Carousel -->
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12 col-xl-12 centered">
        <div
          id="blog-carousel"
          class="carousel slide"
          data-ride="carousel"
          data-type="multi"
        >
          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li
              id="0"
              data-target="#blog-carousel"
              data-slide-to="0"
              class="active"
            ></li>
            <li
              id="1"
              class="hidden"
              data-target="#blog-carousel"
              data-slide-to="1"
            ></li>
            <li id="2" data-target="#blog-carousel" data-slide-to="2"></li>
            <li
              id="3"
              class="hidden"
              data-target="#blog-carousel"
              data-slide-to="3"
            ></li>
            <li id="4" data-target="#blog-carousel" data-slide-to="4"></li>
            <li
              id="5"
              class="hidden"
              data-target="#blog-carousel"
              data-slide-to="5"
            ></li>
          </ul>
          <!-- The slideshow -->
          <div class="carousel-inner" role="listbox"">
          <div class="row">
            <div class="carousel-item active">
              <div class="car-col">
                <a href="#" class="post-box-link">
                  <div class="post-box">
                    <div
                      class="cover"
                      style="background-image:url('/images/blog/blog01.png');"
                    >
                      <div class="details">
                        <div class="date">
                          <i class="fas fa-calendar-alt"></i> 15 Jan 2016
                        </div>
                        <div class="comments">
                          <i class="fas fa-comments"></i> 4 Comments
                        </div>
                      </div>
                    </div>
                    <div class="post-info">
                      <h5>Products That Fight Static</h5>
                      <p>
                        Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget
                        luctus nisi. Nullam euismod leo vehicula, rutrum magna in,
                        ornare enim vehicula, rutrum magna in, ornare enim.
                      </p>
                      <div class="more btn-main no-hover">Read more</div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="car-col">
                <a href="#" class="post-box-link">
                  <div class="post-box">
                    <div
                      class="cover"
                      style="background-image:url('/images/blog/blog02.png');"
                    >
                      <div class="details">
                        <div class="date">
                          <i class="fas fa-calendar-alt"></i> 15 Jan 2016
                        </div>
                        <div class="comments">
                          <i class="fas fa-comments"></i> 4 Comments
                        </div>
                      </div>
                    </div>
                    <div class="post-info">
                      <h5>Products That Fight Static</h5>
                      <p>
                        Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget
                        luctus nisi. Nullam euismod leo vehicula, rutrum magna in,
                        ornare enim vehicula, rutrum magna in, ornare enim.
                      </p>
                      <div class="more btn-main no-hover">Read more</div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="car-col">
                <a href="#" class="post-box-link">
                  <div class="post-box">
                    <div
                      class="cover"
                      style="background-image:url('/images/blog/blog03.png');"
                    >
                      <div class="details">
                        <div class="date">
                          <i class="fas fa-calendar-alt"></i> 15 Jan 2016
                        </div>
                        <div class="comments">
                          <i class="fas fa-comments"></i> 4 Comments
                        </div>
                      </div>
                    </div>
                    <div class="post-info">
                      <h5>Products That Fight Static</h5>
                      <p>
                        Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget
                        luctus nisi. Nullam euismod leo vehicula, rutrum magna in,
                        ornare enim vehicula, rutrum magna in, ornare enim.
                      </p>
                      <div class="more btn-main no-hover">Read more</div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="car-col">
                <a href="#" class="post-box-link">
                  <div class="post-box">
                    <div
                      class="cover"
                      style="background-image:url('/images/blog/blog01.png');"
                    >
                      <div class="details">
                        <div class="date">
                          <i class="fas fa-calendar-alt"></i> 15 Jan 2016
                        </div>
                        <div class="comments">
                          <i class="fas fa-comments"></i> 4 Comments
                        </div>
                      </div>
                    </div>
                    <div class="post-info">
                      <h5>Products That Fight Static</h5>
                      <p>
                        Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget
                        luctus nisi. Nullam euismod leo vehicula, rutrum magna in,
                        ornare enim vehicula, rutrum magna in, ornare enim.
                      </p>
                      <div class="more btn-main no-hover">Read more</div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="car-col">
                <a href="#" class="post-box-link">
                  <div class="post-box">
                    <div
                      class="cover"
                      style="background-image:url('/images/blog/blog02.png');"
                    >
                      <div class="details">
                        <div class="date">
                          <i class="fas fa-calendar-alt"></i> 15 Jan 2016
                        </div>
                        <div class="comments">
                          <i class="fas fa-comments"></i> 4 Comments
                        </div>
                      </div>
                    </div>
                    <div class="post-info">
                      <h5>Products That Fight Static</h5>
                      <p>
                        Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget
                        luctus nisi. Nullam euismod leo vehicula, rutrum magna in,
                        ornare enim vehicula, rutrum magna in, ornare enim.
                      </p>
                      <div class="more btn-main no-hover">Read more</div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="car-col">
                <a href="#" class="post-box-link">
                  <div class="post-box">
                    <div
                      class="cover"
                      style="background-image:url('/images/blog/blog03.png');"
                    >
                      <div class="details">
                        <div class="date">
                          <i class="fas fa-calendar-alt"></i> 15 Jan 2016
                        </div>
                        <div class="comments">
                          <i class="fas fa-comments"></i> 4 Comments
                        </div>
                      </div>
                    </div>
                    <div class="post-info">
                      <h5>Products That Fight Static</h5>
                      <p>
                        Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget
                        luctus nisi. Nullam euismod leo vehicula, rutrum magna in,
                        ornare enim vehicula, rutrum magna in, ornare enim.
                      </p>
                      <div class="more btn-main no-hover">Read more</div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control-prev" href="#blog-carousel" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="right carousel-control-next" href="#blog-carousel" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>
  </div>
</div>
