<section class="section--brands">
  <div class="brands-container">
    <div class="brands slider">
      <div class="slide"><img src="/images/brands/Layer_138.png" /></div>
      <div class="slide"><img src="/images/brands/Layer_139.png" /></div>
      <div class="slide"><img src="/images/brands/Layer_140.png" /></div>
      <div class="slide"><img src="/images/brands/Layer_141.png" /></div>
      <div class="slide"><img src="/images/brands/Layer_142.png" /></div>
      <div class="slide"><img src="/images/brands/Layer_138.png" /></div>
      <div class="slide"><img src="/images/brands/Layer_139.png" /></div>
      <div class="slide"><img src="/images/brands/Layer_140.png" /></div>
      <div class="slide"><img src="/images/brands/Layer_141.png" /></div>
      <div class="slide"><img src="/images/brands/Layer_142.png" /></div>
    </div>
    <div class="left slider-arrow"><i class="fas fa-chevron-left"></i></div>
    <div class="right slider-arrow"><i class="fas fa-chevron-right"></i></div>
  </div>
</section>
