header {
  .top-bar {
    background-color: $header-topbar-bg;
    position: relative;
    z-index: 1;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        line-height: 55px;
        &:hover a {
          color: $primary;
        }
        a {
          @extend %animated-element;
          color: #ffffff;
          font-size: 13px;

          &:hover {
            color: $primary;
            text-decoration: none;
          }
        }
      }
    }

    .text-left ul li {
      margin-right: 1.5rem;
      @media (max-width: 767px) {
        margin-right: 0.4rem;
      }
      i {
        margin-left: 5px;
      }
    }
    .text-left ul li ul li a {
      display: block;
      color: #000;
      margin-top: 5px;
      padding: 0 5px;
      width: 100%;
      height: 100%;
      &:hover {
        color: #fff;
      }
    }
    .text-left ul li ul li {
      display: none;
    }
    .text-left ul li ul {
      position: absolute;
      background-color: #fff;
      box-shadow: 0 0 5px 0 #000;
    }
    .text-left ul li:hover ul li {
      display: block;
      height: 25px;
      line-height: 1px;
      padding: 7px;
      width: 100%;
    }
    .text-left ul li ul li:hover {
      background-color: $primary;
      width: 100%;
      a {
        color: #fff;
      }
    }

    .text-right ul li {
      margin-left: 1.5rem;

      @media (max-width: 767px) {
        width: 12px;
        height: 34px;
        overflow: hidden;
        margin-left: 0.5rem;
      }

      i {
        margin-right: 5px;
      }
    }
  }

  .company-claim {
    background-color: $header-bg;

    .container > .row {
      height: 145px;
    }

    .phone-number {
      @media (max-width: 767px) {
        order: 1;
        align-self: flex-start;
      }

      p {
        margin: 0;
        font-size: 17px;
        line-height: 42px;
        color: rgb(216, 216, 216);
        font-weight: 500;

        @media (max-width: 767px) {
          font-size: 14px;
          text-align: right;
        }

        i {
          font-size: 32px;
          color: $primary;
          vertical-align: middle;
          margin-top: -3px;
          margin-right: 0.8rem;

          @media (max-width: 767px) {
            font-size: 25px;
          }
        }
      }
    }

    .cart {
      @media (max-width: 767px) {
        align-self: flex-start;
        padding-top: 10px;
      }
      a.cart-box:hover {
        text-decoration: none;
      }
      .cart-box {
        display: inline-block;
        position: relative;
        color: #ffffff;

        .cart-icon {
          @extend %animated-element;
          background-color: $primary;
          width: 55px;
          height: 50px;
          border-radius: 3px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;

          i {
            margin-left: 5px;
          }
        }

        .cart-counter {
          padding-right: 7px;
          width: 28px;
          height: 27px;
          border-radius: 14px;
          background-color: $header-bg;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          font-size: 14px;
          color: rgb(224, 227, 237);
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(-150%, -50%);
        }

        &:hover {
          .cart-icon {
            background-color: lighten($primary, 10%);
          }
        }
      }
    }
  }

  .menu-bar {
    box-shadow: 2px 3.464px 6px rgba(1, 2, 2, 0.2);
    background-color: #ffffff;

    .container > .row {
      height: 84px;
    }

    .menu {
      display: flex;
      align-self: stretch;

      ul {
        margin: 0;
        padding: 0;
        display: flex;

        li {
          list-style: none;
          display: flex;
          align-items: stretch;

          a {
            @extend %animated-element;
            color: $text-color;
            text-transform: uppercase;
            font-size: 12px;
            padding: 1rem;
            text-decoration: none;
            display: flex;
            align-items: center;
            border-top: 4px solid #ffffff;
            font-weight: 500;
            letter-spacing: 1px;

            &:hover,
            &.active {
              background-color: $primary;
              color: #ffffff;
              border-color: $primary;
            }

            &.active {
              border-color: $text-color;
            }
          }
        }
      }
    }

    .search-form {
      border: 1px solid $form-border-color;
      display: inline-flex;
      height: 45px;
      color: $text-color;

      .category {
        border-right: 1px solid $form-border-color;
        display: flex;
        align-items: center;
        position: relative;

        i:first-child {
          color: $primary;
          position: absolute;
          left: 10px;
          z-index: 0;
        }

        i:last-child {
          position: absolute;
          right: 10px;
          z-index: 0;
        }

        select {
          -webkit-appearance: none;
          border: 0;
          background-color: transparent;
          outline: none;
          padding: 5px 30px 5px 35px;
          font-size: 14px;
          position: relative;
          z-index: 1;
        }
        &:hover {
          background-color: $primary;

          i:first-child,
          i:last-child {
            color: #fff;
          }
          select {
            color: #fff;
            option {
              background-color: $primary;
            }
            option[disabled] {
              display: none;
            }
          }
        }
      }

      .search-field {
        display: flex;
        align-items: center;
        position: relative;

        input {
          border: 0;
          padding-left: 10px;
          font-size: 14px;
          outline: none;

          &::placeholder {
            color: #a4a4a4;
          }
        }

        button {
          border: 0;
          background-color: transparent;
          outline: none;
          padding-right: 13px;

          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
}
