.product-box {
  @extend %product-box;

  &:hover {
    .buttons {
      display: flex;
    }

    .photo {
      padding: 80% 10px 0 10px;
    }
    .price {
      background-color: $primary;
    }
  }

  .content {
    text-align: center;
    padding: 20px;

    h5 {
      color: $primary;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    .stars {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      .star {
        color: rgb(42, 42, 42);
        @extend .far;
        @extend .fa-star;

        &.full {
          @extend .fas;
          color: $primary;
        }
        &.reviewed {
          font-weight: 900;
          ~ .star {
            font-weight: 900;
          }
        }
      }
    }
    .stars > span:hover:before,
    .stars > span:hover ~ span:before,
    .stars > span.full:before,
    .stars > span.full ~ span:before {
      @extend .fas;
      color: $primary;
    }
  }

  .line {
    margin: 0 10px;
    border-bottom: 1px solid #2a2a2a;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $primary;
      transform: translateX(-50%);
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .price-wrapper {
      display: flex;

      .old-price {
        font-size: 16px;
        font-weight: 300;
        color: $text-color-lightgrey;
        margin: 0 5px;
        position: relative;
        display: flex;
        align-items: center;

        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background-color: $text-color;
          position: absolute;
          left: 0;
          top: 50%;
        }
      }
    }
  }
}
.content {
  text-align: center;
  padding: 20px;

  .product-title {
    color: $primary;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
  }

  .stars {
    a {
      text-decoration: none;
      color: rgb(42, 42, 42);
      @extend .far;
      @extend .fa-star;

      &.full {
        @extend .fas;
      }
    }
  }
}
