.section--sale {
  margin-bottom: 40px;
  h1,
  h2,
  h3,
  h5,
  h6 {
    text-transform: uppercase;
  }

  .image-box {
    height: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    &.large {
      height: 400px;
    }
    .image {
      background-size: cover;
      background-position: center;
      height: 100%;
      padding: 30px;

      .layer {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        color: #fff;
        padding: 20px;
        display: flex;
        align-items: flex-end;

        .layer-content {
          h2 {
            margin-bottom: 0;
          }
          h1 {
            font-size: 3rem;
          }
          .discount {
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 28px;
            border: 3px solid #fff;
          }
        }
      }
    }
    &.small-top .image {
      position: relative;

      .image-description {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h3 {
          span {
            font-weight: 300;
          }
        }
        h6 {
          font-size: 0.8rem;
          letter-spacing: 0.2rem;
        }
        .price {
          color: $primary;
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 0;
        }
      }
    }
    &.small-bottom .image {
      position: relative;

      .image-description {
        text-align: right;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);

        h5 {
          color: $primary;
          span {
            font-weight: 300;
          }
        }
        h6 span {
          font-size: 1.3rem;
        }
      }
    }
  }
}
