.slider-featured {
  height: 100%;

  .slide {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    background-image: url(/images/featured/featured-2.jpeg);
    background-size: contain;

    .overlay {
      width: 100%;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 75px 20px 45px 20px;
      position: relative;

      h3 {
        color: white;
        text-transform: uppercase;
        font-size: 54px;
        font-weight: 300;
        margin-bottom: 0;

        @media only screen and (max-width: 979px) {
          font-size: 40px;
          margin-bottom: 15px;
        }

        .bold {
          font-weight: 600;
        }
      }

      p {
        font-size: 24px;
        color: white;
        text-transform: uppercase;
        font-weight: 300;
        @media only screen and (max-width: 979px) {
          font-size: 22px;
          margin-bottom: 15px;
        }
      }

      .btn-slide {
        padding: 22px 28px;
        background-color: white;
        text-transform: uppercase;
        font-size: 14px;
        color: $text-color;
        border-radius: 3px;
        position: absolute;
        left: 0;
        right: 0;
        width: 131px;
        margin: 0 auto;
        bottom: -33px;
        text-decoration: none;
        transition: 0.3s;

        &:hover {
          color: white;
          background-color: $primary;
        }

        @media only screen and (max-width: 979px) {
          position: static;
          margin: 10px 0;
          display: inline-block;
        }
      }
    }

    .arrow-nav {
      position: absolute;
      bottom: 0;
      display: flex;
      width: 100%;

      .arrow-container {
        background-color: $footer-claim-bg;
        flex-basis: 50%;
        text-align: center;
        padding: 5px;
        color: white;
        transition: 0.3s;

        &:hover {
          background-color: $primary;
        }
      }
    }
  }
}
